*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popponins', sans-serif;
}

body{
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(290deg, #f3ca5c 0, #e5cd5b 6.25%, #d5cd5b 12.5%, #c3cb5c 18.75%, #afc75e 25%, #9ac05f 31.25%, #85b761 37.5%, #6fac62 43.75%, #5a9f61 50%, #46915f 56.25%, #34865e 62.5%, #237b5d 68.75%, #10735d 75%, #006c5e 81.25%, #00675f 87.5%, #006361 93.75%, #006165 100%);
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 10px;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-image: linear-gradient(290deg, #f3ca5c 0, #e5cd5b 6.25%, #d5cd5b 12.5%, #c3cb5c 18.75%, #afc75e 25%, #9ac05f 31.25%, #85b761 37.5%, #6fac62 43.75%, #5a9f61 50%, #46915f 56.25%, #34865e 62.5%, #237b5d 68.75%, #10735d 75%, #006c5e 81.25%, #00675f 87.5%, #006361 93.75%, #006165 100%); 
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc; 
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #00675f;
}

form .perfil-details .perfil-title{
    font-size: 20px;
    font-weight: 500;
}

form .perfil-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.perfil-details .category label{
    display: flex;
    align-items: center;
}

.perfil-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
} 

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two{
    border-color: #d9d9d9;
    background: #00675f;
}

form input[type="radio"]{
    display: none;
}

form .button{
    height: 35px;
    margin: 35px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(290deg, #f3ca5c 0, #e5cd5b 6.25%, #d5cd5b 12.5%, #c3cb5c 18.75%, #afc75e 25%, #9ac05f 31.25%, #85b761 37.5%, #6fac62 43.75%, #5a9f61 50%, #46915f 56.25%, #34865e 62.5%, #237b5d 68.75%, #10735d 75%, #006c5e 81.25%, #00675f 87.5%, #006361 93.75%, #006165 100%);
}

form .button input:hover{
    background: linear-gradient(-290deg, #f3ca5c 0, #e5cd5b 6.25%, #d5cd5b 12.5%, #c3cb5c 18.75%, #afc75e 25%, #9ac05f 31.25%, #85b761 37.5%, #6fac62 43.75%, #5a9f61 50%, #46915f 56.25%, #34865e 62.5%, #237b5d 68.75%, #10735d 75%, #006c5e 81.25%, #00675f 87.5%, #006361 93.75%, #006165 100%);
}

@media(max-wiidt: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .user-details .category{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    
}